.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal; 
  background-color: black;
  z-index: +1;
}

.navbar ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: inline-flex;

}

.navbar a{
  color: white;
  text-decoration: none;
  padding: 50px;
  display: block;
  text-align: center;

}

.navbar a:hover {
color: rgb(38, 38, 145);
}